@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* font-size: calc(1vh + 1vw + 0px); */
  font-weight: 100;
  max-width: 82em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: green;
}

a {
    text-decoration: none;
    color: red;
}
header, footer {
    width: 100%;
    height: 5em;
    background-image: url("../images/header.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

footer {    
    transform: rotateY(180deg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
  padding: 2em;
}
#title {
    animation: slide-up 0.9s; 
    color: red;
}
#bouncingImg {
    animation: bounce 5s infinite reverse;
}
@keyframes slide-up {
    
    from {
        opacity: .25;
        line-height: 500px;
    }
    to {
        opacity: 1;
        line-height: 25px;
    }
  }
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
.contact {
    display: flex;
    flex-direction: column;    
}

.contact div a {
    display: flex;        
    justify-content: flex-start;    
    align-items: center;   
}
.contact div h1 {
  margin: 0;
}
img {
    padding: 0.5em;
}
.blink_me {
  animation: blinker 1s linear 2;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@media screen and (min-width: 44em) {
  .wrapper {
    width: 50%;
  }
  #subTitle1::after {
    content: "\a";
    white-space: pre;
  }
  
}
